<div class="body-left">
    <div class="menu-content">
        <div id="admin-logo">
            <img src="__PUBLIC__/images/b1.png" alt="..." width="100%">
        </div>
        <ul class="list-unstyled panel-group" id="accordion" role="tablist" aria-multiselectable="true" style="margin-top: 0;margin-bottom: 0">
            <li class="panel admin-panel collapse-active">
                <div class="panel-heading" role="tab" id="headingHome">
                    <h4 class="panel-title panel-title-h4 h4-active">
                        <i class="fa fa-home"></i>
                        <a role="button" href="list.html">
                            首页
                        </a>
                    </h4>
                </div>
            </li>
            <li class="panel admin-panel collapse-active">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title panel-title-h4">
                        <i class="fa fa-group"></i>
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            角色管理
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body admin-panel-body">
                        <ul class="list-unstyled menu-list">
                            <li><a href="#">角色列表</a></li>
                            <li><a href="#">添加角色</a></li>
                        </ul>
                    </div>
                </div>
            </li>
            <li class="panel admin-panel collapse-active">
                <div class="panel-heading" role="tab" id="headingTwo">
                    <h4 class="panel-title panel-title-h4">
                        <i class="fa fa-user"></i>
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                            管理员管理
                        </a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="panel-body admin-panel-body">
                        <ul class="list-unstyled menu-list">
                            <li><a href="#">管理员列表</a></li>
                            <li><a href="#">添加管理员</a></li>
                        </ul>
                    </div>
                </div>
            </li>
            <li class="panel admin-panel collapse-active">
                <div class="panel-heading" role="tab" id="headingThree">
                    <h4 class="panel-title panel-title-h4">
                        <i class="fa fa-sitemap"></i>
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="true" aria-controls="collapseTree">
                            模块管理
                        </a>
                    </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                    <div class="panel-body admin-panel-body">
                        <ul class="list-unstyled menu-list">
                            <li><a href="#">模块列表</a></li>
                            <li><a href="#">添加模块</a></li>
                        </ul>
                    </div>
                </div>
            </li>
            <li class="panel admin-panel collapse-active">
                <div class="panel-heading" role="tab" id="headingFour">
                    <h4 class="panel-title panel-title-h4">
                        <i class="fa fa-sitemap"></i>
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                            操作管理
                        </a>
                    </h4>
                </div>
                <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                    <div class="panel-body admin-panel-body">
                        <ul class="list-unstyled menu-list">
                            <li><a href="#">操作列表</a></li>
                            <li><a href="#">添加操作</a></li>
                        </ul>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>